<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Song</title>
</head>
<body>
    <h1>New Song</h1>
    <form action="{% url 'new' %}" method="POST">
        {% csrf_token %}
        <label for="search_title">Find song</label>
        <input type="text" name="title" placeholder="Song name" required>
        <button type="submit">Add to library</button>
    </form>
</body>
</html>