.library-item-container {
    display: flex;
    justify-content: space-around;

    .song-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;

        img {
            height: 250px;
        }

        .description {
            font-style: italic;
        }
    }


    .lyrics-container {
        text-align: center;

        .lyrics {
            white-space: pre-line;
            font-size: large;
        }

    }
    
}