.layout-container {

  .navigation {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    width: 100%;

    .logo-container {
      width: 15%;
      img {
        height: 100px;
      }
    }

    // .nav-search-container {
    //   width: 30%;
    //   margin-left: 0;
    // }

    .nav-links-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 35%;
      justify-content: space-evenly;
      margin-left: auto;

      .nav-link {
        text-decoration: none;
      }
    }
  }

  // .body-container {
  //   display: flex;
  //   flex-direction: column;
  // }
}
