.layout-container {

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .logo-container {

      img {
        height: 100px;
      }
    }

    .nav-links-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 30%;
      justify-content: space-evenly;

      .nav-link {
        text-decoration: none;
      }
    }
  }

  .body-container {
    display: flex;
    flex-direction: column;
  }
}
