.navigation {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    img {
      height: 100px;
    }
  }

  .nav-links-container {
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
  }
}
