.card-container {
  display: flex;
  flex-direction: column;
  background-color: #ececec;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;

  &:hover {
    transform: scale(1.05);
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  img {
    width: 100%;
    object-fit: cover;
  }
}
