.song-item-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .song-info-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 10px;

    .title {
      text-align: center;
    }

    img {
      height: 250px;
    }

    .description {
      font-style: italic;
    }
  }

  .lyrics-column {
    width: 500px;
    padding: 10px;

    .add-to-setlist-form {
      text-align: center;
      margin-top: 1em;

      button {
        margin-left: 8px;
      }
    }

    .lyrics {
      white-space: pre-line;
      font-size: large;
      text-align: center;
    }
  }
}
