.library-list-container {
  width: 85vw;
  margin: 20px auto 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;

  .link-style {
    text-decoration: none;
    color: inherit;
  }
}
