.user_dropdown {
  position: absolute;
  width: 150px;
  height: 160px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  top: 230px;
  left: 30px;

  @media (min-width: 992px) {
    top: 75px;
    left: initial;
    right: 10px;
  }
}
